@import "footer";
@import "fuentes";


.card-img-size{
    width: fit-content;
    height: 300px;
}
.carrusel-img-size{
    width: fit-content;
    height: 90vh;
}
.nov_card-img-size{
    width: 90vh;
    height: fit-content;
}
.background-color{
    background-color:yellow
}